<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
</head>
<body>
<h1>Hello!! welcome to the text analyzer. Enter your text below.</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1240px; height: 213px;'></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="lineremover"> Remove New Lines <br>
    <input type="checkbox" name="fullcaps"> Capitalize the string <br>
    <input type="checkbox" name="charcount"> Count Characters <br>
    <input type="checkbox" name="spaceremove"> Remove Spaces <br>
    <button type='submit'> Analyze text</button>
</form>
</body>
</html>