<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    <style>
      {% block css %}{% endblock %}
    </style>

  </head>

  {% load static %}

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/shop">My Awesome Cart </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker">Tracker</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/contact">Contact Us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-html="true" data-toggle="popover" data-placement="bottom" data-content="Vivamus
        sagittis lacus vel augue laoreet rutrum faucibus.">
        Cart(<span id="mycart">0</span>)
      </button>

    </div>
  </nav>

    {% block body %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

{% block js %} {% endblock %}
  <script>

      if (localStorage.getItem('mycart') == null)
      {
        var mycart = {};
      }
      else
      {
        mycart = JSON.parse(localStorage.getItem('mycart'));
        sum = 0
        for (var item in mycart){
          sum = sum + mycart[item][0]
        }
        document.getElementById('mycart').innerHTML = sum;
      }


      // when the add to cart button is clicked add/increment the product
      $('.divpr').on('click','button.mycart',function()
      {
        var idstr = this.id.toString();
        if (mycart[idstr] == undefined)
         {
           qty = 1;
           name = document.getElementById('name'+idstr).innerHTML;
           mycart[idstr] = [qty,name];
         }
        else
        {
          qty = mycart[idstr][0] + 1;
        }

        localStorage.setItem('mycart',JSON.stringify(mycart));
      });

  </script>

</html>
