{% extends 'shop/basic.html' %}

{% block css %}
      .col-md-3{
                display:inline-block;
                margin-left:5px;
                }
      .col-md-3 img{
                  width: 170px;
                  height: 200px;
                  margin: auto;
                  }
      body .carousel-indicator li{
                  background-color:blue;
                  }
      body .carousel-indicators {
                                 bottom:0;
                                 }
      .carousel-indicators .active{
                                   background-color:blue;
                                   }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
                                       background-color:blue;
                                       }
      .carousel-control-prev,
      .carousel-control-next{
                             top:auto;
                             bottom:auto;
                             padding-top:200px;
                             padding-right:80px;
                            }
      body .no-padding{
                       padding-left:0;
                       padding-right:0;
                       }
{% endblock %}

{%load static%}
{% block body %}

<div class="container">
    <!-- Slideshow starts here -->
    {% for products,range,nSlides in allprods %}
    <h4 class="my-4 " style="padding-left: 20px;">Flash Sale on Fashion - Recommended Items</h4>
    <div class="row">
  <div id="demo{{forloop.counter}}" class=" col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
        {%for i in range%}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
        {% endfor %}
    </ul>

      <div class="container carousel-inner no-padding">
        <!-- first slideshow window -->
        <div class="carousel-item active">

          {% for i in products %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="/media/{{i.image}} " class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title " id="namepr{{i.id}}">{{i.product_name}}</h5>
                <p class="card-text">{{i.desc|slice:"0:68"}}...</p>
                <span id="divpr{{i.id}}" class="divpr">
                <button  id="pr{{i.id}}" class="btn btn-primary mycart">Add to cart</button>
                </span>
                <a href="/shop/products/{{i.id}}"><button  id="qv{{i.id}}" class="btn btn-primary mycart">Quick View</button></a>
              </div>
            </div>
          </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
            {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>


    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
{%endfor%}
</div>
{% endblock %}




{% block js %}
<script>

// checking if my cart exists or not
if (localStorage.getItem('mycart') == null)
{
  var mycart = {};
}
else
{
  mycart = JSON.parse(localStorage.getItem('mycart'));
  updatecart(mycart)
}


// when the add to cart button is clicked add/increment the product
// $('.mycart').click(function()
$('.divpr').on('click','button.mycart',function()
{
  var idstr = this.id.toString();
  if (mycart[idstr] == undefined) {mycart[idstr] = 1;}
  else {mycart[idstr] = mycart[idstr]+1;}
  updatecart(mycart)
});



// for updating popover

function updatepopover(mycart){
  var popstr = '';
  var i = 1;
  popstr = "<h5>CART</h5><div class=' mx-2 my-2'>";
  for (var item in mycart){
    popstr = popstr + "<b>" + i + "</b>. " + document.getElementById('name' + item).innerHTML + ' Qty: ' + mycart[item] + "<br>";
    i = i + 1;
  }
  popstr = popstr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id='checkout'> Checkout </button></a>  <button class='btn btn-primary'  onclick='clearcart()' id='clearcart' > Clear Cart </button> ";
  console.log(popstr);
  document.getElementById('popcart').setAttribute('data-content',popstr);
  $('#popcart').popover('show');

}



// updating cart
function updatecart(mycart){
  sum = 0
  for (var item in mycart){
    sum = sum + mycart[item]
    document.getElementById('div'+item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "'>" + mycart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'>+</button>"
  }

  updatepopover(mycart);
  localStorage.setItem('mycart',JSON.stringify(mycart));
  document.getElementById('mycart').innerHTML = sum;
}



//clear cart
function clearcart(){
  mycart = JSON.parse(localStorage.getItem('mycart'));
  for (var item in mycart){
    document.getElementById('div'+item).innerHTML = "<button id = '" + item + "' class = 'btn btn-primary mycart'>Add To Cart</button> ";
 }
 localStorage.clear();
 updatecart( {} );
}




// if plus button is clicked
$('.divpr').on("click","button.minus",function(){
  proid = this.id.slice(5,);
  mycart[proid] = mycart[proid]-1;
  mycart[proid] = Math.max(0,mycart[proid])
  document.getElementById('val'+proid).innerHTML = mycart[proid];
  updatecart(mycart);
});



// if  minus button is clicked
$('.divpr').on("click","button.plus",function(){
  proid = this.id.slice(4,);
  mycart[proid] = mycart[proid]+1;
  document.getElementById('val'+proid).innerHTML = mycart[proid];
  updatecart(mycart);
});



</script>
{% endblock %}
